<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
  <div class="container">
    <h1>Tic Tac Toe</h1>
    <div class="controls">
      <div>
          <div id="winner-message" class="winner-message"></div>
      </div>
      <button id="restart" class="deactive">Restart Game</button>
    </div>
    <div id="game-grid" class="grid"></div>
  </div>

  <script>
    const serverUrl = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;


    var gameId = {{gameId}} ;
    var userId = {{userId}} ;
    var state=2;
    const gridSizeSelect = document.getElementById('grid-size');
    const restartButton = document.getElementById('restart');
    const gameGrid = document.getElementById('game-grid');
    const winnerMessage = document.getElementById('winner-message');
    const scoreX = document.getElementById('score-x');
    const scoreO = document.getElementById('score-o');
    
    let gridSize = 3;
    let grid = [];
    let currentPlayer = 1;
    let scores = { X: 0, O: 0 };
    let gameOver = false;
    let gameState = {};
    restart.addEventListener('click', ()=>window.location.href="/game");
    function initializeGame() {
      grid = Array(gridSize).fill(null).map(() => Array(gridSize).fill(null));
      gameOver = false;
      currentPlayer = 1;
      winnerMessage.textContent = '';
      renderGrid();
    }
    function renderGrid() {
      gameGrid.style.gridTemplateColumns = `repeat(${gridSize}, 1fr)`;
      gameGrid.style.gridTemplateRows = `repeat(${gridSize}, 1fr)`;
      gameGrid.innerHTML = '';
      for (let i = 0; i < gridSize; i++) {
        for (let j = 0; j < gridSize; j++) {
          const cell = document.createElement('button');
          cell.addEventListener('click', () => handleCellClick(i, j));
          cell.textContent = grid[i][j]===1?"X":grid[i][j]===-1?"O": '';
          cell.disabled = grid[i][j] || gameOver;

          if (grid[i][j] === 1) {
            cell.classList.add('x');
          } else if (grid[i][j] === -1) {
            cell.classList.add('o');
          }

          gameGrid.appendChild(cell);
        }
      }
    }
    function handleCellClick(row, col) {
      fetch(`${serverUrl}/sendMove`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ i:row, j:col ,userId:userId ,gameId:gameId })
      })
      console.log(row, col)
    }
    function checkGameState() {
      if (state != 2 ) {
        winnerMessage.textContent = state == userId ? "Congratulations You win!" : state == 0 ? "It's a draw!":"Shame you have lost";   
        clearInterval(sync_int);
        restart.classList.add('active');
        restart.classList.remove('deactive');

        /*
        if(confirm("Debuter une nouvelle partie en ligne")){
          window.location.href = '/game';

        }
        else{
          window.location.href = '/';
        }
        */
      }
    }

    function syncGameState() {
      //if (state !=2 ){return;}
      fetch(`${serverUrl}/getGame`,
        {
          method:"POST",
          body: JSON.stringify({userId:userId ,gameId:gameId })})
        .then(response => response.json())
        .then(data => {
          console.log(data)
          const newBoard = data.grid;
          state = data.score;
          if (JSON.stringify(gameState.grid) !== JSON.stringify(newBoard)) {
            gameState = data;
            grid = newBoard;
            currentPlayer = data.currentPlayer;
            renderGrid();
          }
          checkGameState(state);
        })
        .catch(error => {
          console.error('Error syncing game state:', error);
        });
    }
    const sync_int = setInterval(syncGameState, 500); 

    gridSizeSelect.addEventListener('change', (e) => {
      gridSize = Number(e.target.value);
      initializeGame();
    });
    initializeGame();
  </script>
</body>
</html>